<div class="ui inverted five stackable cards">
    <div class="card">
        <div class="content">
            <div class="header">{{station.title}}<i class="big purple right floated binoculars icon"></i> </div>
            <div class="meta">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Weather<i class="big red right floated umbrella icon"></i></div>
            <div class="meta">
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Temp <i class="big blue right floated temperature high icon"></i></div>
            <div class="meta">
              <br>
              {{stationSummary.latestTemp}} C
              <br>
              {{stationSummary.celsiusToFahrenheit}} F
              <br>
              Min: {{stationSummary.getMinTemp.temp}} C
              <br>
              Max: {{stationSummary.getMaxTemp.temp}} C
            </div>
              Trend: {{stationSummary.tempTrend}}
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Wind<i class="big green right floated wind icon"></i></div>
            <div class="meta">
              <br>
                {{stationSummary.windSpeedLatest}} bft
              <br>
               {{stationSummary.windCompass}}
              <br>
             Max: {{stationSummary.getMaxWindspeed.windspeed}}
              <br>
             Min: {{stationSummary.getMinWindspeed.windspeed}}
              <br>
              Feels like:
              <br> 
                  {{stationSummary.chillLatest}}
            </div>
            
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Pressure <i class="big orange right floated compress icon"></i></div>
            <div class="meta">
              <br>
              {{stationSummary.latestPressure}} hpa
              <br>
             Max: {{stationSummary.getMaxPressure.pressure}} 
              <br>
             Min: {{stationSummary.getMinPressure.pressure}} 
            </div>
          </div>
        </div>
    </div>
