<div class="ui inverted five stackable cards">
    <div class="card">
        <div class="content">
            <div class="header">{{station.title}}<i class="big purple right floated binoculars icon"></i> </div>
            <div class="meta">
              <br>
              {{stationSummary.latestTemp}}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Weather<i class="big red right floated umbrella icon"></i></div>
            <div class="meta">
               {{stationSummary.latestTemp}} C
              <br>
              <br>
               {{stationSummary.celsiusToFahrenheit}} F
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Temp <i class="big blue right floated temperature high icon"></i></div>
            <div class="meta">
               <br>
              {{stationSummary.latestTemp}}
              <br>
             Min: {{stationSummary.getMinTemp.temp}}
              <br>
            Max: {{stationSummary.getMaxTemp.temp}}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Wind<i class="big green right floated wind icon"></i></div>
            <div class="meta">
                {{stationSummary.windSpeedLatest}} bft
              <br>
              <br>
               {{stationSummary.windCompass}}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <div class="header">Pressure <i class="big orange right floated compress icon"></i></div>
            <div class="meta">
              {{stationSummary.latestPressure}} hpa
              <br>
              {{stationSummary.getMaxPressure.pressure}}
            </div>
          </div>
        </div>
    </div>
